*,::before,::after{
margin:0;
padding:0;
box-sizing:border-box}

body{
    background-color: rgba(95, 158, 160, 0.31);
}


h1{
    text-align: center;
    color: cadetblue;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px 10%;
}