
/* exo 1 */

 /* h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;   
}


#grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
        align-content: center;
        height: 100vh; 
      }

.bphover{
    border: 1px solid black;
    width: 265px;
    
}
.barregrise{
    background-color: gray;
    height: 20px;
}



@media only screen
and (max-width : 768px) {
    #grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-content: center;
        height: 100vh; 
      }
    
}
@media only screen
and (max-width : 375px) {
    #grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
        align-content: center;
        height: 100vh; 
        
      }
      h1{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 550px;   
    }
}  */



/* exo 2 */

 body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;
}
h1{
    text-align: center;
    background-color: red;
    margin: auto;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-columns: 20% 70% 10%;
  }
  .box{
    background-color: gray;
    height: 22vh;
    text-align: center;

  
  }
  .box2{
   
    height: 88vh;

  }
  .box3{
    background-color: gray;
    height: 88vh;
    
  }
  footer{
    background-color: black;
    margin-bottom: 24px;
  }
  p{
    color: white;
    text-align: center;
  }

  @media only screen
  and (max-width : 768px){
    .grid-container {
        display: grid;
        grid-template-columns:1fr
        
      }
      .column-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
      
    .box{
        width: 192px;
        height: 60px;
    }
    .box2{
        height: auto;
    }

    .box3{
        display: none;
    }
    

  }


  @media only screen
and (max-width : 375px){
    
      .grid-container {
          display: grid;
          grid-template-columns:1fr
          
        }
        .column-1 {
          display: grid;
          grid-template-columns:1fr;
          width: 100%;
      }
        
      .box{
          width: 192px;
          width: 100%;
          
      }
      .box2{
          height: auto;
      }
  
      .box3{
          display: none;
      }
      
   } 




 /* exo3 */



/* main{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 1fr 1fr 1fr repeat(3, 120px);
}
main > div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
} */




  
 
  
